<div class="intro">
    <h1>Hello, {{name}}</h1>
    <h3>@{{username}}</h3>
    <img src={{photo}} alt="A photo of user">
</div>

<section class="tweet">
    <div id="textareaWrapper">
        <textarea name="paragraph" id="paragraph" cols="30" rows="10"></textarea>
        <button id="threadify">Threadify!</button>
    </div>
</section>